<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StatesDetailDict</key>
	<array>
		<dict>
			<key>Capital</key>
			<string>Amaravati</string>
			<key>Region</key>
			<string>South India</string>
			<key>Population</key>
			<string>103,000</string>
			<key>Area</key>
			<string>217.23</string>
			<key>Language</key>
			<string>Telugu</string>
			<key>StateRank</key>
			<string>10th</string>
			<key>LiteracyRate</key>
			<string>67.41</string>
			<key>AreaRank</key>
			<string>8th</string>
			<key>Image</key>
			<string>AndhraPradesh</string>
			<key>WikiURL</key>
			<string>https://en.wikipedia.org/wiki/Andhra_Pradesh</string>
			<key>Website</key>
			<string>http://www.ap.gov.in/</string>
			<key>lat</key>
			<string>16.5713529</string>
			<key>lon</key>
			<string>79.1735678</string>
		</dict>
		<dict>
			<key>Capital</key>
			<string>Itanagar</string>
			<key>Region</key>
			<string>Northeast India</string>
			<key>Population</key>
			<string>1,382,611</string>
			<key>Area</key>
			<string>83,743 </string>
			<key>Language</key>
			<string>English</string>
			<key>StateRank</key>
			<string>27th</string>
			<key>LiteracyRate</key>
			<string>66.95</string>
			<key>AreaRank</key>
			<string>15th</string>
			<key>Image</key>
			<string>ArunachalPradesh</string>
			<key>WikiURL</key>
			<string>https://en.wikipedia.org/wiki/Arunachal_Pradesh</string>
			<key>Website</key>
			<string>http://arunachalpradesh.nic.in/</string>
			<key>lat</key>
			<string>27.0845625</string>
			<key>lon</key>
			<string>93.5788601</string>
		</dict>
		<dict>
			<key>Capital</key>
			<string>Dispur</string>
			<key>Region</key>
			<string>Northeast India</string>
			<key>Population</key>
			<string>31,205,576</string>
			<key>Area</key>
			<string>78,438</string>
			<key>Language</key>
			<string>Assamese</string>
			<key>StateRank</key>
			<string>15th</string>
			<key>LiteracyRate</key>
			<string>79.18</string>
			<key>AreaRank</key>
			<string>17th</string>
			<key>Image</key>
			<string>Assam</string>
			<key>WikiURL</key>
			<string>https://en.wikipedia.org/wiki/Assam</string>
			<key>Website</key>
			<string>http://assam.gov.in/</string>
			<key>lat</key>
			<string>26.1444045</string>
			<key>lon</key>
			<string>91.7860568</string>
		</dict>
		<dict>
			<key>Capital</key>
			<string>Patna</string>
			<key>Region</key>
			<string>East India</string>
			<key>Population</key>
			<string>103,804,637</string>
			<key>Area</key>
			<string>94,163</string>
			<key>Language</key>
			<string>Hindi</string>
			<key>StateRank</key>
			<string>3rd</string>
			<key>LiteracyRate</key>
			<string>67.41</string>
			<key>AreaRank</key>
			<string>12th</string>
			<key>Image</key>
			<string>Bihar</string>
			<key>WikiURL</key>
			<string>https://en.wikipedia.org/wiki/Bihar</string>
			<key>Website</key>
			<string>http://gov.bih.nic.in/</string>
			<key>lat</key>
			<string>25.6081754</string>
			<key>lon</key>
			<string>85.0728306</string>
		</dict>
		<dict>
			<key>Capital</key>
			<string>Naya Raipur</string>
			<key>Region</key>
			<string>Central India</string>
			<key>Population</key>
			<string>27,928,015</string>
			<key>Area</key>
			<string>135,194.5</string>
			<key>Language</key>
			<string>Hindi</string>
			<key>StateRank</key>
			<string>17th</string>
			<key>LiteracyRate</key>
			<string>71.04</string>
			<key>AreaRank</key>
			<string>10</string>
			<key>Image</key>
			<string>Chhattisgarh</string>
			<key>WikiURL</key>
			<string>https://en.wikipedia.org/wiki/Chhattisgarh</string>
			<key>Website</key>
			<string>http://www.cgstate.gov.in/</string>
			<key>lat</key>
			<string>21.1595704</string>
			<key>lon</key>
			<string>81.7122379</string>
		</dict>
		<dict>
			<key>Capital</key>
			<string>New Delhi</string>
			<key>Region</key>
			<string>Punjab Region</string>
			<key>Population</key>
			<string>11,034,555</string>
			<key>Area</key>
			<string>1,484.0</string>
			<key>Language</key>
			<string>Hindi</string>
			<key>StateRank</key>
			<string>2nd</string>
			<key>LiteracyRate</key>
			<string>86.34</string>
			<key>AreaRank</key>
			<string>31st</string>
			<key>Image</key>
			<string>Delhi</string>
			<key>WikiURL</key>
			<string>https://en.wikipedia.org/wiki/Delhi</string>
			<key>Website</key>
			<string>http://delhi.gov.in/wps/wcm/connect/doit/Delhi+Govt/Delhi+Home</string>
			<key>lat</key>
			<string>28.5275194</string>
			<key>lon</key>
			<string>77.0685552</string>
		</dict>
		<dict>
			<key>Capital</key>
			<string>Panaji</string>
			<key>Region</key>
			<string>Western India</string>
			<key>Population</key>
			<string>1,457,723</string>
			<key>Area</key>
			<string>3,702 </string>
			<key>Language</key>
			<string>Konkani</string>
			<key>StateRank</key>
			<string>26th</string>
			<key>LiteracyRate</key>
			<string>88.70</string>
			<key>AreaRank</key>
			<string>29th</string>
			<key>Image</key>
			<string>Goa</string>
			<key>WikiURL</key>
			<string>https://en.wikipedia.org/wiki/Goa</string>
			<key>Website</key>
			<string>https://www.goa.gov.in/</string>
			<key>lat</key>
			<string>15.4832441</string>
			<key>lon</key>
			<string>73.803655</string>
		</dict>
		<dict>
			<key>Capital</key>
			<string>Gandhinagar</string>
			<key>Region</key>
			<string>Western India</string>
			<key>Population</key>
			<string>60,383,628</string>
			<key>Area</key>
			<string>196,024 </string>
			<key>Language</key>
			<string>Gujarati</string>
			<key>StateRank</key>
			<string>9th</string>
			<key>LiteracyRate</key>
			<string>79.31</string>
			<key>AreaRank</key>
			<string>6th</string>
			<key>Image</key>
			<string>Gujarat</string>
			<key>WikiURL</key>
			<string>https://en.wikipedia.org/wiki/Gujarat</string>
			<key>Website</key>
			<string>http://gujaratindia.com/</string>
			<key>lat</key>
			<string>23.2208519</string>
			<key>lon</key>
			<string>72.5748311</string>
		</dict>
		<dict>
			<key>Capital</key>
			<string>Chandigarh</string>
			<key>Region</key>
			<string>Punjab region</string>
			<key>Population</key>
			<string>25,353,081</string>
			<key>Area</key>
			<string>44,212</string>
			<key>Language</key>
			<string>Hindi, Punjabi</string>
			<key>StateRank</key>
			<string>18th</string>
			<key>LiteracyRate</key>
			<string>76.6</string>
			<key>AreaRank</key>
			<string>21st</string>
			<key>Image</key>
			<string>Haryana</string>
			<key>WikiURL</key>
			<string>https://en.wikipedia.org/wiki/Haryana</string>
			<key>Website</key>
			<string>http://www.haryana.gov.in/</string>
			<key>lat</key>
			<string>30.7265248</string>
			<key>lon</key>
			<string>76.6962022</string>
		</dict>
		<dict>
			<key>Capital</key>
			<string>Shimla</string>
			<key>Region</key>
			<string>North india</string>
			<key>Population</key>
			<string>6,864,602</string>
			<key>Area</key>
			<string>55,673</string>
			<key>Language</key>
			<string>Hindi</string>
			<key>StateRank</key>
			<string>21st</string>
			<key>LiteracyRate</key>
			<string>82.80</string>
			<key>AreaRank</key>
			<string>18th</string>
			<key>Image</key>
			<string>HimachalPradesh</string>
			<key>WikiURL</key>
			<string>https://en.wikipedia.org/wiki/Himachal_Pradesh</string>
			<key>Website</key>
			<string>http://www.himachal.nic.in/</string>
			<key>lat</key>
			<string>31.0782882</string>
			<key>lon</key>
			<string>77.1239157</string>
		</dict>
		<dict>
			<key>Capital</key>
			<string>Jammu &amp;  Kashmir</string>
			<key>Region</key>
			<string>North India</string>
			<key>Population</key>
			<string>12,541,302</string>
			<key>Area</key>
			<string>222,236</string>
			<key>Language</key>
			<string>Urdu</string>
			<key>StateRank</key>
			<string>19th</string>
			<key>LiteracyRate</key>
			<string>66.7</string>
			<key>AreaRank</key>
			<string>14th</string>
			<key>Image</key>
			<string>JammuAndKashmir</string>
			<key>WikiURL</key>
			<string>https://en.wikipedia.org/wiki/Jammu_and_Kashmir</string>
			<key>Website</key>
			<string>https://jk.gov.in/jammukashmir/</string>
			<key>lat</key>
			<string>33.8829715</string>
			<key>lon</key>
			<string>74.2787953</string>
		</dict>
		<dict>
			<key>Capital</key>
			<string>Ranchi</string>
			<key>Region</key>
			<string>East India</string>
			<key>Population</key>
			<string>32,988,134</string>
			<key>Area</key>
			<string>79,714 </string>
			<key>Language</key>
			<string>Hindi, Santali</string>
			<key>StateRank</key>
			<string>14th</string>
			<key>LiteracyRate</key>
			<string>67.6</string>
			<key>AreaRank</key>
			<string>16th</string>
			<key>Image</key>
			<string>Jharkhand</string>
			<key>WikiURL</key>
			<string>https://en.wikipedia.org/wiki/Jharkhand</string>
			<key>Website</key>
			<string>http://www.jharkhand.gov.in/</string>
			<key>lat</key>
			<string>23.3433467</string>
			<key>lon</key>
			<string>85.2511139</string>
		</dict>
		<dict>
			<key>Capital</key>
			<string>Bengaluru</string>
			<key>Region</key>
			<string>South India</string>
			<key>Population</key>
			<string>61,130,704</string>
			<key>Area</key>
			<string>191,791</string>
			<key>Language</key>
			<string>Kannada, English</string>
			<key>StateRank</key>
			<string>8th</string>
			<key>LiteracyRate</key>
			<string>75.60</string>
			<key>AreaRank</key>
			<string>7th</string>
			<key>Image</key>
			<string>Karnataka</string>
			<key>WikiURL</key>
			<string>https://en.wikipedia.org/wiki/Karnataka</string>
			<key>Website</key>
			<string>http://www.karnataka.gov.in/Pages/kn.aspx</string>
			<key>lat</key>
			<string>12.9542944</string>
			<key>lon</key>
			<string>77.4905086</string>
		</dict>
		<dict>
			<key>Capital</key>
			<string>Thiruvananthapuram</string>
			<key>Region</key>
			<string>South India</string>
			<key>Population</key>
			<string>33,387,677</string>
			<key>Area</key>
			<string>38,863</string>
			<key>Language</key>
			<string>Malayalam, English</string>
			<key>StateRank</key>
			<string>13th</string>
			<key>LiteracyRate</key>
			<string>93.9</string>
			<key>AreaRank</key>
			<string>22nd</string>
			<key>Image</key>
			<string>Kerala</string>
			<key>WikiURL</key>
			<string>https://en.wikipedia.org/wiki/Kerala</string>
			<key>Website</key>
			<string>http://kerala.gov.in/</string>
			<key>lat</key>
			<string>8.4997266</string>
			<key>lan</key>
			<string>76.8543209</string>
		</dict>
		<dict>
			<key>Capital</key>
			<string>Bhopal</string>
			<key>Region</key>
			<string>Malwa, Bundelkhand</string>
			<key>Population</key>
			<string>72,597,565</string>
			<key>Area</key>
			<string>308,245</string>
			<key>Language</key>
			<string>Hindi</string>
			<key>StateRank</key>
			<string>5th</string>
			<key>LiteracyRate</key>
			<string>70.60</string>
			<key>AreaRank</key>
			<string>2nd</string>
			<key>Image</key>
			<string>MadhyaPradesh</string>
			<key>WikiURL</key>
			<string>https://en.wikipedia.org/wiki/Madhya_Pradesh</string>
			<key>Website</key>
			<string>http://www.mp.gov.in/</string>
			<key>lat</key>
			<string>23.199663</string>
			<key>lon</key>
			<string>77.2654611</string>
		</dict>
		<dict>
			<key>Capital</key>
			<string>Mumbai</string>
			<key>Region</key>
			<string>Western India</string>
			<key>Population</key>
			<string>112,372,972</string>
			<key>Area</key>
			<string>307,713</string>
			<key>Language</key>
			<string>Telugu</string>
			<key>StateRank</key>
			<string>2nd</string>
			<key>LiteracyRate</key>
			<string>82.9</string>
			<key>AreaRank</key>
			<string>Marathi</string>
			<key>Image</key>
			<string>Maharashtra</string>
			<key>WikiURL</key>
			<string>https://en.wikipedia.org/wiki/Maharashtra</string>
			<key>Website</key>
			<string>https://www.maharashtra.gov.in/</string>
			<key>lat</key>
			<string>19.0830941</string>
			<key>lon</key>
			<string>72.7407736</string>
		</dict>
		<dict>
			<key>Capital</key>
			<string>Imphal</string>
			<key>Region</key>
			<string>Northeast India</string>
			<key>Population</key>
			<string>2,570,390</string>
			<key>Area</key>
			<string>22,327</string>
			<key>Language</key>
			<string>Manipuri</string>
			<key>StateRank</key>
			<string>24th</string>
			<key>LiteracyRate</key>
			<string>79.21</string>
			<key>AreaRank</key>
			<string>24th</string>
			<key>Image</key>
			<string>Manipur</string>
			<key>WikiURL</key>
			<string>https://en.wikipedia.org/wiki/Manipur</string>
			<key>Website</key>
			<string>http://manipur.gov.in/</string>
			<key>lat</key>
			<string>24.80629</string>
			<key>lon</key>
			<string>93.8661976</string>
		</dict>
		<dict>
			<key>Capital</key>
			<string>Shillong</string>
			<key>Region</key>
			<string>Northeast India</string>
			<key>Population</key>
			<string>3,211,000</string>
			<key>Area</key>
			<string>22,429 </string>
			<key>Language</key>
			<string>English</string>
			<key>StateRank</key>
			<string>23rd</string>
			<key>LiteracyRate</key>
			<string>75.84</string>
			<key>AreaRank</key>
			<string>23rd</string>
			<key>Image</key>
			<string>Meghalaya</string>
			<key>WikiURL</key>
			<string>https://en.wikipedia.org/wiki/Meghalaya</string>
			<key>Website</key>
			<string>http://meghalaya.gov.in/</string>
			<key>lat</key>
			<string>25.5902691</string>
			<key>lon</key>
			<string>91.8222249</string>
		</dict>
		<dict>
			<key>Capital</key>
			<string>Aizawl</string>
			<key>Region</key>
			<string>Northeast India</string>
			<key>Population</key>
			<string>1,091,014</string>
			<key>Area</key>
			<string>21,087</string>
			<key>Language</key>
			<string>Mizo</string>
			<key>StateRank</key>
			<string>28th</string>
			<key>LiteracyRate</key>
			<string>91.58</string>
			<key>AreaRank</key>
			<string>25th</string>
			<key>Image</key>
			<string>Mizoram</string>
			<key>WikiURL</key>
			<string>https://en.wikipedia.org/wiki/Mizoram</string>
			<key>Website</key>
			<string>http://mizoram.gov.in/</string>
			<key>lat</key>
			<string>23.7445184</string>
			<key>lon</key>
			<string>92.6413722</string>
		</dict>
		<dict>
			<key>Capital</key>
			<string>Kohima</string>
			<key>Region</key>
			<string>Northeast India</string>
			<key>Population</key>
			<string>1,980,602</string>
			<key>Area</key>
			<string>16,579</string>
			<key>Language</key>
			<string>English</string>
			<key>StateRank</key>
			<string>25th</string>
			<key>LiteracyRate</key>
			<string>80.11</string>
			<key>AreaRank</key>
			<string>26th</string>
			<key>Image</key>
			<string>Nagaland</string>
			<key>WikiURL</key>
			<string>https://en.wikipedia.org/wiki/Nagaland</string>
			<key>Website</key>
			<string>https://www.nagaland.gov.in/</string>
			<key>lat</key>
			<string>25.6747517</string>
			<key>lon</key>
			<string>94.0892528</string>
		</dict>
		<dict>
			<key>Capital</key>
			<string>Bhubaneswar</string>
			<key>Region</key>
			<string>East India</string>
			<key>Population</key>
			<string>41,947,358</string>
			<key>Area</key>
			<string>155,820</string>
			<key>Language</key>
			<string>Odia, English</string>
			<key>StateRank</key>
			<string>11th</string>
			<key>LiteracyRate</key>
			<string>73.45</string>
			<key>AreaRank</key>
			<string>9th</string>
			<key>Image</key>
			<string>Odisha</string>
			<key>WikiURL</key>
			<string>https://en.wikipedia.org/wiki/Odisha</string>
			<key>Website</key>
			<string>http://www.odisha.gov.in/portal/default.asp</string>
			<key>lat</key>
			<string>20.3010311</string>
			<key>lon</key>
			<string>85.7502408</string>
		</dict>
		<dict>
			<key>Capital</key>
			<string>Chandigarh</string>
			<key>Region</key>
			<string>North India</string>
			<key>Population</key>
			<string>27,704,236</string>
			<key>Area</key>
			<string>50,362</string>
			<key>Language</key>
			<string>Punjabi</string>
			<key>StateRank</key>
			<string>16th</string>
			<key>LiteracyRate</key>
			<string>76.68</string>
			<key>AreaRank</key>
			<string>20th</string>
			<key>Image</key>
			<string>PunjabIndia</string>
			<key>WikiURL</key>
			<string>https://en.wikipedia.org/wiki/Punjab,_India</string>
			<key>Website</key>
			<string>http://www.punjab.gov.in/</string>
			<key>lat</key>
			<string>30.7265248</string>
			<key>lon</key>
			<string>76.6962022</string>
		</dict>
		<dict>
			<key>Capital</key>
			<string>Jaipur</string>
			<key>Region</key>
			<string>Western India</string>
			<key>Population</key>
			<string>73,529,325</string>
			<key>Area</key>
			<string>342,239</string>
			<key>Language</key>
			<string>English, Rajasthani</string>
			<key>StateRank</key>
			<string>7th</string>
			<key>LiteracyRate</key>
			<string>67</string>
			<key>AreaRank</key>
			<string>1st</string>
			<key>Image</key>
			<string>Rajasthan</string>
			<key>WikiURL</key>
			<string>https://en.wikipedia.org/wiki/Rajasthan</string>
			<key>Website</key>
			<string>http://www.rajasthan.gov.in/</string>
			<key>lat</key>
			<string>26.8854475</string>
			<key>lon</key>
			<string>75.6501278</string>
		</dict>
		<dict>
			<key>Capital</key>
			<string>Gangtok</string>
			<key>Region</key>
			<string>North - Eastern India</string>
			<key>Population</key>
			<string>607,688</string>
			<key>Area</key>
			<string>7,096</string>
			<key>Language</key>
			<string>Nepali</string>
			<key>StateRank</key>
			<string>29th</string>
			<key>LiteracyRate</key>
			<string>82.2</string>
			<key>AreaRank</key>
			<string>29th</string>
			<key>Image</key>
			<string>Sikkim</string>
			<key>WikiURL</key>
			<string>https://en.wikipedia.org/wiki/Sikkim</string>
			<key>Website</key>
			<string>https://www.sikkim.gov.in/portal</string>
			<key>lat</key>
			<string>27.3402076</string>
			<key>lon</key>
			<string>88.5853696</string>
		</dict>
		<dict>
			<key>Capital</key>
			<string>Chennai</string>
			<key>Region</key>
			<string>South India</string>
			<key>Population</key>
			<string>72,147,030</string>
			<key>Area</key>
			<string>130,058</string>
			<key>Language</key>
			<string>Tamil</string>
			<key>StateRank</key>
			<string>6th</string>
			<key>LiteracyRate</key>
			<string>80.33</string>
			<key>AreaRank</key>
			<string>11th</string>
			<key>Image</key>
			<string>TamilNadu</string>
			<key>WikiURL</key>
			<string>https://en.wikipedia.org/wiki/Tamil_Nadu</string>
			<key>Website</key>
			<string>http://www.tn.gov.in/</string>
			<key>lat</key>
			<string>13.0478571</string>
			<key>lon</key>
			<string>80.0685809</string>
		</dict>
		<dict>
			<key>Capital</key>
			<string>Hyderabad</string>
			<key>Region</key>
			<string>South India</string>
			<key>Population</key>
			<string>35,193,978</string>
			<key>Area</key>
			<string>114,840 </string>
			<key>Language</key>
			<string>Telugu and Urdu</string>
			<key>StateRank</key>
			<string>12th</string>
			<key>LiteracyRate</key>
			<string>66.46</string>
			<key>AreaRank</key>
			<string>12th</string>
			<key>Image</key>
			<string>Telangana</string>
			<key>WikiURL</key>
			<string>https://en.wikipedia.org/wiki/Telangana</string>
			<key>Website</key>
			<string>http://www.telangana.gov.in/</string>
			<key>lat</key>
			<string>17.4121521</string>
			<key>lon</key>
			<string>78.1271487</string>
		</dict>
		<dict>
			<key>Capital</key>
			<string>Agartala</string>
			<key>Region</key>
			<string>Northeast India</string>
			<key>Population</key>
			<string>3,671,032</string>
			<key>Area</key>
			<string>10,491.69</string>
			<key>Language</key>
			<string>Bengali and Kokborok</string>
			<key>StateRank</key>
			<string>22nd</string>
			<key>LiteracyRate</key>
			<string>96.8</string>
			<key>AreaRank</key>
			<string>27th</string>
			<key>Image</key>
			<string>Tripura</string>
			<key>WikiURL</key>
			<string>https://en.wikipedia.org/wiki/Tripura</string>
			<key>Website</key>
			<string>http://tripura.gov.in/</string>
			<key>lat</key>
			<string>23.8512347</string>
			<key>lon</key>
			<string>91.2241358</string>
		</dict>
		<dict>
			<key>Capital</key>
			<string>Lucknow</string>
			<key>Region</key>
			<string>North India</string>
			<key>Population</key>
			<string>199,581,477</string>
			<key>Area</key>
			<string>243,286</string>
			<key>Language</key>
			<string>Hindi, Urdu</string>
			<key>StateRank</key>
			<string>1st</string>
			<key>LiteracyRate</key>
			<string>67.7</string>
			<key>AreaRank</key>
			<string>4th</string>
			<key>Image</key>
			<string>UttarPradesh</string>
			<key>WikiURL</key>
			<string>https://en.wikipedia.org/wiki/Uttar_Pradesh</string>
			<key>Website</key>
			<string>http://www.up.gov.in/</string>
			<key>lat</key>
			<string>26.8489289</string>
			<key>lon</key>
			<string>80.8020827</string>
		</dict>
		<dict>
			<key>Capital</key>
			<string>Dehradun</string>
			<key>Region</key>
			<string>North India</string>
			<key>Population</key>
			<string>10,116,752</string>
			<key>Area</key>
			<string>53,483</string>
			<key>Language</key>
			<string>Hindi,Sanskrit</string>
			<key>StateRank</key>
			<string>20th</string>
			<key>LiteracyRate</key>
			<string>67.41</string>
			<key>AreaRank</key>
			<string>19th</string>
			<key>Image</key>
			<string>Uttarakhand</string>
			<key>WikiURL</key>
			<string>https://en.wikipedia.org/wiki/Uttarakhand</string>
			<key>Website</key>
			<string>http://uk.gov.in/</string>
			<key>lat</key>
			<string>30.3255579</string>
			<key>lon</key>
			<string>77.9469224</string>
		</dict>
		<dict>
			<key>Capital</key>
			<string>Kolkata</string>
			<key>Region</key>
			<string>Eastern India</string>
			<key>Population</key>
			<string>91,347,736</string>
			<key>Area</key>
			<string>88,752</string>
			<key>Language</key>
			<string>Bengali , English</string>
			<key>StateRank</key>
			<string>4th</string>
			<key>LiteracyRate</key>
			<string>67.41</string>
			<key>AreaRank</key>
			<string>14th</string>
			<key>Image</key>
			<string>WestBengal</string>
			<key>WikiURL</key>
			<string>https://en.wikipedia.org/wiki/West_Bengal</string>
			<key>Website</key>
			<string>http://www.westbengal.gov.in/</string>
			<key>lat</key>
			<string>22.6761132</string>
			<key>lon</key>
			<string>88.0877034</string>
		</dict>
	</array>
</dict>
</plist>
